@{
    ViewBag.Title = "Guardar CSV";
}

<div class="jumbotron">
    <h1>Adjuntar aquí CSV a guardar</h1>
    @using (Html.BeginForm("PullCsv","CSVManager",FormMethod.Post, new {enctype="multipart/form-data"}))
    { 
 
    <input type="file" name="FileUpload" />
    <input type="submit" name="Submit" id="Submit" value="Upload" />
 
    }
 
    <p>@ViewBag.Message</p>
</div>
