@{
    ViewBag.Title = "Generar CSV";
}

<div class="jumbotron">
    <h1>Exportar CSV</h1>
    @Html.ActionLink("Exportar CSV", "PushCsv", "CSVManager", null, new { @class = "btn btn-primary"})  
</div>

