@{
    ViewBag.Title = "Generar XML";
}

<div class="jumbotron">
    <h1>Exportar XML</h1>
    @Html.ActionLink("Exportar XML", "PushXml", "XMLManager", null, new { @class = "btn btn-primary" })
</div>

